/* ===== GOOGLE FONT ===== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* ===== BASIC RESET ===== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ===== BODY ===== */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f7f9fc;
}


/* ===== NAVBAR ===== */

.navbar{
    width: 100%;
    height: 90px;
    background: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 90px;
}

.logo{
    font-size: 42px;
    font-weight: 700;
    color: #243b64;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 35px;

    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #5d6473;
    font-size: 17px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #4d8cff;
}

.active{
    color: #4d8cff;
}


/* ===== HERO SECTION ===== */

.hero-section{
    width: 100%;
    min-height: 90vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 90px;
}


/* ===== LEFT SIDE ===== */

.left-side{
    width: 50%;
}

.left-side h1{
    font-size: 70px;
    line-height: 90px;
    color: #243b64;

    margin-bottom: 25px;
}

.left-side h1 span{
    color: #4d8cff;
    border-bottom: 6px solid #bdd3ff;
}

.left-side p{
    width: 85%;

    font-size: 23px;
    line-height: 40px;

    color: #70798a;

    margin-bottom: 45px;
}


/* ===== BUTTONS ===== */

.hero-buttons{
    display: flex;
    align-items: center;
    gap: 35px;
}

.main-btn{
    text-decoration: none;

    background: #4d8cff;
    color: white;

    padding: 22px 40px;

    border-radius: 10px;

    font-size: 16px;
    font-weight: 600;

    transition: 0.3s;
}

.main-btn:hover{
    background: #2f76f7;
}


.video-btn{
    display: flex;
    align-items: center;
    gap: 18px;
}

.play-icon{
    width: 70px;
    height: 70px;

    background: #4d8cff;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 22px;

    cursor: pointer;
}

.video-btn span{
    font-size: 22px;
    color: #2d3748;
}


/* ===== RIGHT SIDE ===== */

.right-side{
    width: 48%;
}

.right-side img{
    width: 100%;
}


/* ===== RESPONSIVE ===== */

@media(max-width: 992px){

    .navbar{
        padding: 0 30px;
    }

    nav{
        display: none;
    }

    .hero-section{
        flex-direction: column;
        text-align: center;

        padding: 50px 30px;
    }

    .left-side{
        width: 100%;
    }

    .right-side{
        width: 100%;
        margin-top: 50px;
    }

    .left-side p{
        width: 100%;
    }

    .hero-buttons{
        justify-content: center;
    }

    .left-side h1{
        font-size: 50px;
        line-height: 70px;
    }

/* ===== ABOUT SECTION ===== */

.about-area{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
}

/* ===== LEFT IMAGE ===== */

.left-side{
    width: 100%;
    height: 100vh;
}

.left-side{
    width: 100%;
    height: 100%;

    object-fit: cover;
}


/* ===== RIGHT CONTENT ===== */

.right-side{
    width: 50%;
    height: 100vh;

    padding: 80px 90px;

    background: #f6f8fc;
}

.right-side h1{
    font-size: 58px;
    line-height: 78px;

    color: #243b64;

    margin-bottom: 40px;
}

.text-one{
    font-size: 20px;
    line-height: 40px;

    color: #70798b;

    margin-bottom: 40px;
}

.text-two{
    font-size: 19px;
    line-height: 38px;

    color: #7e8594;

    margin-bottom: 50px;
}


/* ===== COUNTER ===== */

.counter-section{
    display: flex;
    justify-content: space-between;

    border-top: 1px solid #dde2eb;

    padding-top: 45px;

    margin-bottom: 55px;
}

.counter h2{
    font-size: 62px;
    font-weight: 600;

    color: #4d8cff;

    margin-bottom: 10px;
}

.counter span{
    font-size: 15px;
    letter-spacing: 2px;

    color: #8c93a3;
}


/* ===== BUTTON ===== */

.story-btn{
    display: inline-flex;
    align-items: center;
    gap: 15px;

    text-decoration: none;

    border: 2px solid #4d8cff;

    color: #4d8cff;

    padding: 20px 36px;

    border-radius: 8px;

    font-size: 18px;
    font-weight: 500;

    transition: 0.3s;
}

.story-btn:hover{
    background: #4d8cff;
    color: white;
}


/* ===== RESPONSIVE ===== */

@media(max-width: 992px){

    .about-area{
        height: auto;
        flex-direction: column;
    }

    .about-left{
        width: 100%;
        height: auto;
    }

    .about-left img{
        height: auto;
    }

    .about-right{
        width: 100%;
        height: auto;

        padding: 50px 30px;
    }

    .about-right h1{
        font-size: 42px;
        line-height: 60px;
    }

    .counter-section{
        flex-direction: column;
        gap: 35px;
    }
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Montserrat', sans-serif;
    background:#f7f7f7;
}

/* SECTION */

.services{
    width:100%;
    padding:80px 28px;
    background:#f7f7f7;
    position:relative;
}

/* TITLE */

.title{
    text-align:center;
    margin-bottom:85px;
}

.title h1{
    font-size:58px;
    font-weight:400;
    color:#2f4465;
    margin-bottom:18px;
}

.underline{
    width:65px;
    height:4px;
    background:#5c91ec;
    margin:0 auto 28px;
    border-radius:20px;
}

.title p{
    font-size:18px;
    color:#6d7887;
    font-weight:300;
}

/* GRID */

.service-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

/* CARD */

.card{
    background:#f7f7f7;
    border:1px solid #dddddd;
    border-radius:18px;
    padding:40px 32px;
    min-height:365px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-4px);
}

/* ICON */

.icon-box{
    width:82px;
    height:82px;
    border-radius:50%;
    background:#e8eefb;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:38px;
}

.icon-box i{
    font-size:34px;
    color:#5c91ec;
}

/* TITLE */

.card h2{
    font-size:24px;
    font-weight:500;
    color:#2f4465;
    margin-bottom:24px;
}

/* TEXT */

.card p{
    font-size:18px;
    line-height:1.9;
    color:#6e7887;
    font-weight:300;
    margin-bottom:38px;
}

/* LINK */

.card a{
    text-decoration:none;
    color:#2f4465;
    font-size:18px;
    font-weight:600;
    display:inline-flex;
    align-items:center;
    gap:12px;
}

.card a span{
    font-size:25px;
}

/* FIXED BUTTON */

.top-btn{
    position:fixed;
    right:18px;
    bottom:18px;
    width:52px;
    height:52px;
    background:#5c91ec;
    color:white;
    text-decoration:none;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:6px;
    font-size:28px;
}

/* RESPONSIVE */

@media(max-width:1100px){

    .service-container{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:768px){

    .service-container{
        grid-template-columns:1fr;
    }

    .title h1{
        font-size:42px;
    }

    .title p{
        font-size:16px;
        line-height:1.7;
    }

}
}